html{
    background-color:  beige;
    background-image: url('./images/1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.container1 {
    width: 20%;
    margin: 100px auto;
    background-color: #fff;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.result {

    width: 30%;
    margin: auto;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(4, 147, 4, 0.735);
}
.result:hover{
    background-color: rgb(215, 215, 215);
}


.result p {
    font-size: 20px;
    font-family: Arial, 'Times New Roman', Times, serif;
    color: white;
}

.form-group {
    margin-top:50px;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 30px;
    width: 100px; /* Adjust width as needed */
}

select {
    width: calc(100% - 110px); /* Adjust width to fill remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input{
    border: 1px solid #ccc;
    padding:5px;
    font-size: 17px;
}

input[type="submit"] {
    font-size: 17px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin: auto;
    
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.378);
}

input[type="submit"]:hover {
    background-color: #0056b3;

}


button{ 
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.378);
}

button:hover {
    background-color: #0056b3;
}